@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,900&display=swap);

html{
    scroll-behavior: smooth;
}
body{

    background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)),url(../image/Untitled\ design\ \(1\).png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    margin:0;

}

.acon{
    display: flex;
    max-width: 100vh;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
}
.all{
    background-color: rgb(24, 24, 24,0.63);
    position:relative;
    width: 90%;
    border: 20px solid #b88d3e;
    font-family: 'Source Sans Pro';   
    padding: 10px;
    margin: 10px; 
    border-radius: 35px; 
}
.blog{
    margin-bottom: 20px;
    z-index: 97;
}
.logo 
{
    width:133px;
    height:100px;
    display:inline-block;
    overflow:hidden;
    text-align: center;
}
.logo img
{
    width:100%;
    height:100%;

}
.date{
    color: #fff;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 700;

}
.date1{
    color:#FDB62D;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 700;
}
.paragraph{
    border-left: 5px solid #FDB62D;
    padding-left: 5px;
    color:#FDB62D;
}
h1{
    font-size: 30px;
    color: #FDB62D ;
    font-weight: 600;
}
h3{
    font-size: 20px;
    color: #b88d3e;
    font-weight: 600;
}
ul{
    color: #fff;
    font-weight: 400;
    list-style:square;
}
ol{
    color: #fff;
    font-weight: 400;
}
p{
    color: #fff;
    font-weight: 200;
}
.wrap{
    font-weight: 600;
}
em{
    font-weight: 600;
}
hr{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.np img, .np1 img, .imgc img{
    max-width: 100%;
    text-align: center;
    display:inline-block;
}
.np{
    width: 49.6%;
    cursor: pointer;
}
.np1{
    width: 100%;
    cursor: pointer;
}
.imgc{
width: auto;
height:auto;
display:inline-block;
margin-left: auto; margin-right: auto;
}

a{
    color: #FDB62D;
    font-weight: 600;
    text-decoration: none;
}
.gotopbtn{
    position: fixed;
    width:50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    background-color: #1a1a1a;
    border: 5px solid  #FDB62D;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color:#fff;
    font-size: 22px;
    cursor: pointer;
    
}
.plat{
    background-color: #1a1a1a;
    width: 50%;
    
}
li a:hover
{
    cursor: pointer;
}
li a:hover 
{
    background-color: #FDB62D;
    color:#2e2c2c;
    transition: .5s;
    font-weight: 600;
}
.plat:hover
{
    transform:scale(1.4);
    transition: .5s;
}
/*====================================================================================================*/
.popup
{
position:fixed;
top:0; left:0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.63);
display: none;
z-index: 100;
}
.popup span
{
position: absolute;
top:45%; right:40px;
font-size: 60px;
font-weight: bolder;
border:#c00000 5px solid;
border-radius: 8px;
background-color: #2e2c2c4d;
color: #c00000;
cursor: pointer;
z-index: 100;

}
.popup img
{
position: absolute;
top:50%; left:50%;
margin-left: auto;
margin-right: auto;
transform: translate(-50%, -50%);
border:5px solid #FDB62D;
border-radius: 5px;
width: 750px;
max-height: 95%;
object-fit: cover;
/*display: hidden;*/
transition: .5s;
z-index: 99;

}
@media(max-width:768px){
    .popup img
    {
        width:95%;
    }
}


/*Header====================================================================================*/
header
{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 98;
    background-image: url(../image/golden\ skies.png);
    border: 3px inset #b88d3e;
    display:inline;
    z-index: 95;
    font-family: 'Source Sans Pro';   
}
.navlink{
    list-style: square;
}
.contain
{
    width: 100%;
    margin: auto;
    align-items: center;
    display:flex;
}

.navbar
{
    width:auto;
    max-width: 95%;
    margin-left: auto; margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    min-height: 90px;
    justify-content: space-between;
    align-items:center;
    display:block;
    overflow: hidden;

}

.navmenu
{
    position:inline-block;
    font-size: medium;
    width:auto;
    max-width: 95%;
    float: right;
    justify-content: space-between;
    align-items: center;
    gap: auto;
    cursor: pointer;
    background-color: #2e2c2c;
    border: #2e2c2c 8px solid;
    border-radius: 13px;
        overflow: hidden;
}
.navmenu li
{
    font-size:medium;
    background-color: #2e2c2c;
    border: #2e2c2c 8px solid;
    border-radius: 13px;
    list-style:none;
    display:inline-block;
}
.navmenu li a
{
    font-weight: 400;
}
.navmenu li a:hover
{
    background-color: #FDB62D;
    border: #FDB62D 5px solid;
    color:#2e2c2c;
    border-radius: 13px;
    transition: 0.5s;
}

/*====================================================================================*/
.footer
{
    width:100%;
    height:auto;
    top:50%; left:50%;
    padding:2%;
    max-width: 100%;
    max-height: 100%;
    border: #b88d3e inset;
    background-color: #2e2c2c;
    display:flex;
    Bottom:0px;
}
.footerbg
{   
    width: 95%; height: min-content;
    background-color: #1a1a1a;
    border: #1a1a1a 2px solid;
    border-radius: 5px;
    padding:0%;
}
/*====================================================================================*/
.footerbg .plat11
{
    display:inline-flex;
    height: auto;
    width:auto;
    margin-left:auto; margin-right: auto;
    padding:7px;
}
.footerbg .plat11 .paragraph
{
    font-size: 30px;
}
.footerbg .navmenu1
{
    position:inline-block;
    font-size: medium;
    width:auto;
    float: right;
    justify-content: space-between;
    align-items: center;
    gap: auto;
    cursor: pointer;
}
.footerbg .navmenu1
{
    font-size:medium;
    display:inline-block;
}
.footerbg .navmenu1 a
{
    font-weight: 400;
}
.footerbg .navmenu1 a:hover
{
    background-color: #FDB62D;
    border: #FDB62D 5px solid;
    color:#2e2c2c;
    border-radius: 13px;
    transition: 0.5s;
}
/*====================================================================================*/
/*====================================================================================*/
.footerbg .plat4
{   
    float:left;
    display:block;
    height: auto;
    max-width: max-content;
    width:auto;
    margin-left:auto; margin-right: auto;
    padding:7px;
}
.footerbg .plat4 .paragraph
{
    font-size: 30px;
}
.footerbg .icon
{
    width:20%;
    height:auto;
    display:inline-block;
    overflow:hidden;
    text-align: center;
}
.footerbg .icon img
{
    width:100%;
    height:100%;
    cursor: pointer;
}

.footerbg li:hover a
{
    cursor: pointer;
}
.footerbg li:hover a
{
    background-color: #FDB62D;
    color:#2e2c2c;
    transition: .5s;
    font-weight: 600;
}
/*====================================================================================*/
/*====================================================================================*/